<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avatar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,65},{50,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,62}}</string>
				<key>sourceSize</key>
				<string>{50,62}</string>
			</dict>

			<key>avatar_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,130},{52,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,62}}</string>
				<key>sourceSize</key>
				<string>{52,62}</string>
			</dict>

			<key>avatar_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,193},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,64}}</string>
				<key>sourceSize</key>
				<string>{57,64}</string>
			</dict>

			<key>avatar_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,0},{54,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,65}}</string>
				<key>sourceSize</key>
				<string>{54,65}</string>
			</dict>

			<key>avatar_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,193},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>avatar_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,66},{56,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,63}}</string>
				<key>sourceSize</key>
				<string>{56,63}</string>
			</dict>

			<key>avatar_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,193},{47,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,63}}</string>
				<key>sourceSize</key>
				<string>{47,63}</string>
			</dict>

			<key>avatar_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{51,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,64}}</string>
				<key>sourceSize</key>
				<string>{51,64}</string>
			</dict>

			<key>avatar_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,193},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,64}}</string>
				<key>sourceSize</key>
				<string>{57,64}</string>
			</dict>

			<key>avatar_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{43,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,62}}</string>
				<key>sourceSize</key>
				<string>{43,62}</string>
			</dict>

			<key>avatar_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,193},{51,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,67}}</string>
				<key>sourceSize</key>
				<string>{51,67}</string>
			</dict>

			<key>avatar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,130},{53,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,57}}</string>
				<key>sourceSize</key>
				<string>{53,57}</string>
			</dict>

			<key>avatar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{68,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,65}}</string>
				<key>sourceSize</key>
				<string>{68,65}</string>
			</dict>

			<key>avatar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{67,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,63}}</string>
				<key>sourceSize</key>
				<string>{67,63}</string>
			</dict>

			<key>avatar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,128},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,64}}</string>
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>

			<key>avatar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{59,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,62}}</string>
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>

			<key>avatar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{47,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,63}}</string>
				<key>sourceSize</key>
				<string>{47,63}</string>
			</dict>

			<key>avatar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,129},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,63}}</string>
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>

			<key>avatar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,64},{46,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,64}}</string>
				<key>sourceSize</key>
				<string>{46,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{268,261}</string>
			<key>textureFileName</key>
			<string>avatar.png</string>
			</dict>
		</dict>
</plist>