<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,39},{57,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,185}}</string>
				<key>sourceSize</key>
				<string>{57,185}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,787},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,413},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,226},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,39},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,412},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,225},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,599},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,786},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,599},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,600},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{124,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,38}}</string>
				<key>sourceSize</key>
				<string>{124,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>kinh_tu_chi.png</string>
			</dict>
		</dict>
</plist>