<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{55,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,27}}</string>
				<key>sourceSize</key>
				<string>{55,27}</string>
			</dict>

			<key>btn_choncuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,336},{193,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,88}}</string>
				<key>sourceSize</key>
				<string>{193,88}</string>
			</dict>

			<key>btn_choncuoc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,178},{193,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,88}}</string>
				<key>sourceSize</key>
				<string>{193,88}</string>
			</dict>

			<key>btn_gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,539},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,42}}</string>
				<key>sourceSize</key>
				<string>{43,42}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{342,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{342,88}}</string>
				<key>sourceSize</key>
				<string>{342,88}</string>
			</dict>

			<key>btn_rank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{342,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{342,88}}</string>
				<key>sourceSize</key>
				<string>{342,88}</string>
			</dict>

			<key>btn_tieptuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,450},{193,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,88}}</string>
				<key>sourceSize</key>
				<string>{193,88}</string>
			</dict>

			<key>btn_tieptuc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{193,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,88}}</string>
				<key>sourceSize</key>
				<string>{193,88}</string>
			</dict>

			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,393},{199,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,56}}</string>
				<key>sourceSize</key>
				<string>{199,56}</string>
			</dict>

			<key>button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{199,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,56}}</string>
				<key>sourceSize</key>
				<string>{199,56}</string>
			</dict>

			<key>button_2p.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{245,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{245,78}}</string>
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>

			<key>button_2p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{245,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{245,78}}</string>
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>

			<key>button_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,535},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,535},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,152},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>button_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,336},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>button_cuoctien.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,267},{166,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,68}}</string>
				<key>sourceSize</key>
				<string>{166,68}</string>
			</dict>

			<key>button_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,57},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_huongdan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,0},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_luu.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,0},{187,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,75}}</string>
				<key>sourceSize</key>
				<string>{187,75}</string>
			</dict>

			<key>button_luu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,76},{187,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,75}}</string>
				<key>sourceSize</key>
				<string>{187,75}</string>
			</dict>

			<key>button_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,284},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_setting2.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,152},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,227},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_shop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,324},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_themgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,267},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_themgame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,341},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>button_thoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,480},{155,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,54}}</string>
				<key>sourceSize</key>
				<string>{155,54}</string>
			</dict>

			<key>button_thoat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,425},{155,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,54}}</string>
				<key>sourceSize</key>
				<string>{155,54}</string>
			</dict>

			<key>icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,209},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>icon_mail2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,535},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{588,592}</string>
			<key>textureFileName</key>
			<string>listButton.png</string>
			</dict>
		</dict>
</plist>